<main class="d-flex justify-content-center align-items-center">
    <section class="col-md-3 d-flex flex-column align-items-center rounded card-profile p-3">
        <app-profile-icon class="mt-3" url_icon="assets/images/avatar-jessica.jpeg" name="Jessica Randall"
            address="London, United Kingdom" slogan="Front-end developer and avid reader."></app-profile-icon>
        <ul class="col-11 col-md-11 mt-4">
            <li *ngFor="let link of links" class="link mb-2 text-center rounded">mudei o nome dos links</li>
        </ul>
    </section>
</main>

<router-outlet />